@charset "utf-8";
/* CSS Document */

#text_ar_1
{
font-size:90%;
position:absolute;
background-color: transparent; 
border-style: none;
border-color: Transparent;
color:Transparent;
overflow: auto;
outline: none;
left:0px;
right:0px;
top:21px;
bottom:0px;
font-family:"Times New Roman",Times,serif;
}
#text_sh_1
{
font-size:90%;
position:absolute;
right:0px;
top:25px;
left:4px;
bottom:0px;
font-family:"Times New Roman",Times,serif;
}